<div class = "flexshrink">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
</div>         
<div class = "flexcol">
    <div class = "flexrow">
        <div class = "flexrow">
            {{localize "wfrp2e.items.weight"}}
            <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number" />
        </div>
        <div class = "flexrow">
            {{localize "wfrp2e.items.quantity"}}
            <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number"/>
        </div>
    </div>
    <div class = "flexrow">
        <div>
            {{localize "wfrp2e.items.quality.value"}}
            <select name="data.quality">
                {{#select data.quality}}
                {{#each config.qualities as |name quality|}}
                <option value="{{quality}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class = "flexrow">
            <div class = "flexrow">
                {{localize "wfrp2e.currencies.bpa"}}
                <input name="data.price.pennies" type="text" value="{{data.price.pennies}}" data-dtype="Number"/>
            </div>
            <div class = "flexrow">
                {{localize "wfrp2e.currencies.ssa"}}
                <input name="data.price.shillings" type="text" value="{{data.price.shillings}}" data-dtype="Number"/>
            </div>
            <div class = "flexrow">
                {{localize "wfrp2e.currencies.gca"}}
                <input name="data.price.crowns" type="text" value="{{data.price.crowns}}" data-dtype="Number"/>
            </div>
            <div class = "flexrow">
                {{localize "wfrp2e.currencies.other"}}
                <input name="data.price.other" type="text" value="{{data.price.other}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
</div>