<div class = "flexcol">

    <div class = "flexrow">
        <div class = "flexrow">
            <p>{{localize "wfrp2e.items.weapon.isRanged"}}</p>
            <input name="data.isRanged" type="checkbox" {{checked data.isRanged}}/>
        </div>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.items.weapon.type.value"}}</p>
            <select name="data.weaponType">
                {{#select data.weaponType}}
                {{#each config.weaponTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.items.weapon.prof"}}</p>
            <input name="data.proficient" type="checkbox" {{checked data.proficient}}/>
        </div>
    </div>
    <div>
        <div>
            <div class = "flexrow">
                {{localize "wfrp2e.items.weapon.damage"}}
                <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number"/>
                {{localize "wfrp2e.items.weapon.modifier"}}
                <input name="data.modifier" type="text" value="{{data.modifier}}" data-dtype="Number"/>
            </div>
            <div class = "flexrow">
                {{localize "wfrp2e.items.weapon.atributeUsedToHit"}}
                <select name = "data.attribute.toHit">
                    {{#select data.attribute.toHit}}
                    {{#each config.attributes as |name attribute|}}
                    <option value="{{attribute}}">{{localize name}}</option>                       
                    {{/each}}
                    {{/select}}
                </select>
                {{localize "wfrp2e.items.weapon.atributeUsedForDamage"}}
                <select name = "data.attribute.damage">
                    {{#select data.attribute.damage}}
                    {{#each config.attributes as |name attribute|}}
                    <option value="{{attribute}}">{{localize name}}</option>                       
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        {{#if data.isRanged}}
        <div class = "flexrow">
            {{localize "wfrp2e.items.weapon.range"}}
            <input name="data.range.value" type="text" value="{{data.range.value}}" data-dtype="Number"/>
            {{localize "wfrp2e.items.weapon.rangeLong"}}
            <input name="data.range.long" type="text" value="{{data.range.long}}" data-dtype="Number"/>
            {{localize "wfrp2e.items.weapon.rangeUnits"}}
            <input name="data.range.units" type="text" value="{{data.range.units}}" data-dtype="Text"/>
        </div>
        <div class = "flexrow">
            {{localize "wfrp2e.items.weapon.reload"}}
            <input name="data.reload.value" type="text" value="{{data.reload.value}}" data-dtype="Number"/>
            {{localize "wfrp2e.items.weapon.reloadUnits"}}
            <select name="data.reload.units">
            {{#select data.reload.units}}
            {{#each config.actionsAbr as |name actions|}}
            <option value="{{actions}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
        <div>
            {{localize "wfrp2e.items.weapon.usesAmmo"}}
            <input name="data.usesAmmo" type="checkbox" {{checked data.usesAmmo}}/>
        </div>
            {{#if data.usesAmmo}}
            <input name="data.ammunition.name" type="text" value="{{data.ammunition.name}}" placeholder="Ammunition name" data-dtype="Number"/>
            <div class = "flexrow">
                {{localize "wfrp2e.items.weapon.ammunition.carried"}}
                <input name="data.ammunition.ammount" type="text" value="{{data.ammunition.ammount}}" data-dtype="Number"/>
                {{localize "wfrp2e.items.weapon.ammunition.weight"}}
                <input name="data.ammunition.weight" type="text" value="{{data.ammunition.weight}}" data-dtype="Number"/>
            </div>
            {{/if}}
        {{/if}}
    </div>
    <!--Here be a divisor-->
    <div class = "flexcol">
        {{localize "wfrp2e.items.weapon.qualities"}}
        <div class = "flexrow">
            {{localize "wfrp2e.items.weapon.impact"}}
            <input name="data.impact" type="checkbox" {{checked data.impact}}/>
            {{localize "wfrp2e.items.weapon.defensive"}}
            <input name="data.defensive" type="checkbox" {{checked data.defensive}}/>
            {{localize "wfrp2e.items.weapon.fast"}}
            <input name="data.fast" type="checkbox" {{checked data.fast}}/>
            {{localize "wfrp2e.items.weapon.slow"}}
            <input name="data.slow" type="checkbox" {{checked data.slow}}/>
            {{localize "wfrp2e.items.weapon.precise"}}
            <input name="data.precise" type="checkbox" {{checked data.precise}}/>
        </div>       
        <div class = "flexcol">
            <input name="data.qualities" type="text" value="{{data.qualities}}" data-dtype="Text" placeholder="{{localize 'wfrp2e.items.weapon.otherQualities'}}"/>
        </div>
    </div> 
</div>