<div class = "flexcol">
    <div class = "flexrow">
        <p>{{localize "wfrp2e.items.armor.armorType"}}</p>
        <select name = "data.type">
            {{#select data.type}}
            {{#each config.armorTypes}}
            <option value="{{this}}">{{localize this}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p>{{localize "wfrp2e.items.armor.armorValue"}}</p>
        <input name = "data.value" type="text" value = "{{data.value}}" data-dtype="Number">
    </div>
    <div class = "flexcol">
        <p>{{localize "wfrp2e.items.armor.covers"}}</p>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.bodyParts.head"}}</p>
            <input name ="data.target.head" type="checkbox" {{checked data.target.head}}>
        </div>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.bodyParts.lArm"}}</p>
            <input name ="data.target.lArm" type="checkbox" {{checked data.target.lArm}}>
            <p>{{localize "wfrp2e.bodyParts.rArm"}}</p>
            <input name ="data.target.rArm" type="checkbox" {{checked data.target.rArm}}>
        </div>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.bodyParts.body"}}</p>
            <input name ="data.target.body" type="checkbox" {{checked data.target.body}}>
        </div>
        <div class = "flexrow">
            <p>{{localize "wfrp2e.bodyParts.lLeg"}}</p>
            <input name ="data.target.lLeg" type="checkbox" {{checked data.target.lLeg}}>
            <p>{{localize "wfrp2e.bodyParts.rLeg"}}</p>
            <input name ="data.target.rLeg" type="checkbox" {{checked data.target.rLeg}}>
        </div>
    </div>
</div>