<form class = "{{cssClass}} flexcol" autocomplete="off">
    <header class = "flexshrink">
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <!--Fit a checkbox for trained either here or on the char's sheet-->
    <div class = "sheet-body flexcol flexfill">
        <div class = "flexcol flexfill">
            <p class = "flexshrink">{{localize "wfrp2e.general.ui.description"}}:</p>
            {{editor data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>