<form class="{{cssClass}}" autocomplete="off">     
    <div class = "flexcol flexfill">
        <input class = "flexshrink" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/> 
        <div class = "flexrow flexshrink">
            {{>"systems/wfrp2e/templates/items/parts/item-header.html" this}}
        </div>
        <nav class = "sheet-navigation tabs flexshrink" data-group = "primary">
            <a class = "tab-navigation" data-tab = "default">{{localize "wfrp2e.general.ui.description"}}</a>
            <a class = "tab-navigation" data-tab = "details">{{localize "wfrp2e.general.ui.details"}}</a>
        </nav>
        <div class = "flexcol sheet-body">
            <div class = "tab default flexcol flexfill" data-group="primary" data-tab="default">
                {{editor data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            </div>
            <div class = "tab details flexcol flexfill" data-group="primary" data-tab="details">
                <div class = "flexrow">
                    {{localize "wfrp2e.items.rarity.value"}}
                    <select name="data.rarity">
                        {{#select data.rarity}}
                        {{#each config.rarities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <p>{{localize "wfrp2e.items.tool.deteriorates"}}</p>
                <input name="data.deteriorates" type="checkbox" {{checked data.deteriorates}}/>
                {{#if data.deteriorates}}
                <p>{{localize "wfrp2e.items.consumable.usesLeft"}}</p>
                <input name="data.uses.value" type="text" value="{{data.uses.value}}" data-dtype="Number">
                <p>{{localize "wfrp2e.items.consumable.maxUses"}}</p>
                <input name="data.uses.max" type="text" value="{{data.uses.max}}" data-dtype="Number">
                {{/if}}
            </div>
        </div>   
    </div>   
</form>