<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>      
    </header>
    <div>
        <table>
            <tr>
                <th><b>{{localize "wfrp2e.items.weapon.isRanged"}}</b></th>
                <th><input name="data.isRanged" type="checkbox" {{checked data.isRanged}}/></th>
            </tr>
        </table>    
    </div> 
    <div>
        <table>
            <tr>
                <!--<th>{{localize "wfrp2e.items.price"}}</th>
                <th>{{localize "wfrp2e.items.currency"}}</th>-->
                <th>{{localize "wfrp2e.items.weight"}}</th>
                <th>{{localize "wfrp2e.items.rarity.value"}}</th>
            </tr>
            <tr>
                <!--<td>
                    <input name="data.price" type="text" value="{{data.price}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="data.currency">
                        {{#select data.currency}}
                        {{#each config.currencies as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>-->
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="data.rarity">
                        {{#select data.rarity}}
                        {{#each config.rarities as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <th>{{localize "wfrp2e.items.weapon.damage"}}</th>
                <th>{{localize "wfrp2e.items.weapon.atributeUsed"}}</th>
                <th>{{localize "wfrp2e.items.weapon.modifier"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="data.attribute">
                        {{#select data.attribute}}
                        {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.modifier" type="text" value="{{data.modifier}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </div>
</form>
