<div class="inventory flexcol">
    <p>
        {{localize "wfrp2e.characters.ui.filterBy"}} 
        {{localize "wfrp2e.characters.ui.filterContainer"}} 
        <select name="data.filters.container">
            {{#select data.filters.container}}
            <option value="-2">{{localize "wfrp2e.characters.ui.filterAll"}}</option>
            <option value="-1">{{localize "wfrp2e.characters.ui.filterOnSelf"}}</option>
            {{#each data.containers as |container id|}}
            <option value="{{container.id}}">{{container.name}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{localize "wfrp2e.characters.ui.filterItemType"}} 
        <select name="data.filters.itemtype">
            {{#select data.filters.itemtype}}
            <option value="-1">{{localize "wfrp2e.characters.ui.filterAll"}}</option>
            {{#each config.itemTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{data.filters.containter}}
    </p>
    <p>{{localize "wfrp2e.characters.ui.inventoryCurrencyConversion"}}</p>
    <p class = "flexrow flexshrink">
        {{localize "wfrp2e.characters.ui.inventoryCurrency"}}  
        {{localize "wfrp2e.currencies.bpa"}} 
        <input name="data.bp" style="width: 30px;" type="text" value="{{data.bp}}" data-dtype="Number">
        {{localize "wfrp2e.currencies.ssa"}} 
        <input name="data.ss" style="width: 30px;" type="text" value="{{data.ss}}" data-dtype="Number">
        {{localize "wfrp2e.currencies.gca"}} 
        <input name="data.gc" style="width: 30px;" type="text" value="{{data.gc}}" data-dtype="Number">
        {{localize "wfrp2e.currencies.other"}} 
        <input name="data.misc" style="width: 30px;" type="text" value="{{data.misc}}" data-dtype="Number">
        {{localize "wfrp2e.characters.ui.inventoryCurrencyWeight"}}
        <input name ="data.weighcoins" type="checkbox" {{checked data.weighcoins}}>
    </p>
    <p class = "flexrow flexshrink">
        {{localize "wfrp2e.characters.ui.inventoryCarryBase"}}
        {{this.data.baseCarryWeight}}
        {{localize "wfrp2e.characters.ui.inventoryCarryMult"}}
        <input name="data.multmax" type = "text" style="width: 25px;" value ="{{data.multmax}}" data-dtype="Number">
        {{localize "wfrp2e.characters.ui.inventoryCarryMod"}}
        <input name="data.modmax" type = "text" style="width: 25px;" value ="{{data.modmax}}" data-dtype="Number">
        {{localize "wfrp2e.characters.ui.inventoryCarryTotal"}}
        {{this.data.maxcarry}}
        {{localize "wfrp2e.characters.ui.inventoryWeightAffectMov"}}
        <input name ="data.affectsmov" type="checkbox" {{checked data.affectsmov}}>
    </p>
    <p>
        {{localize "wfrp2e.characters.ui.inventoryCurrentlyCarrying"}}
        {{data.currentInv}}/{{data.maxcarry}}
        {{#if data.affectsmov}}
            {{#if data.overMax}}
                {{localize "wfrp2e.characters.ui.inventoryMovementAffected"}}
                {{data.effectOnMov}}
            {{else}}
                {{localize "wfrp2e.characters.ui.inventoryNoEffectOnMovement"}}
            {{/if}}
        {{/if}}
    </p>

    <div class = "flexcol"> 
        <!--Abandon all hope, all ye who enter here-->    
        <table>
            <tr>
                <th width = "50%">{{localize "wfrp2e.characters.ui.inventoryItemName"}}</th>
                <th width = "10%">{{localize "wfrp2e.characters.ui.inventoryItemWeight"}}</th>
                <th width = "10%">{{localize "wfrp2e.characters.ui.inventoryItemQuantity"}}</th>
                <th width = "10%">{{localize "wfrp2e.characters.ui.inventoryItemUses"}}</th>
                <th width = "10%">{{localize "wfrp2e.characters.ui.inventoryItemInteraction"}}</th>
                <th width = "10%">{{localize "wfrp2e.characters.ui.inventoryItemContainer"}}</th>
            </tr>
            {{#if (renderContainer -1 data.filters.container)}}
            <tr><td colspan="6"><p>Carried on self</p></td></tr>
            {{#each data.containerList.[0]}}
                {{#if this.system.toberendered}}
                <tr class="inventory-item-card" data-item-id="{{this.id}}">
                    <div class = "flexrow" width = "100%">
                        {{> "systems/wfrp2e/templates/actors/parts/actor-inventory-itemrow.html" this}}
                        <td>
                            <select class = "select-item-container" name="this.system.heldIn" data-item = "{{this.id}}">
                                {{#select this.system.heldIn}}
                                <option value="-1">Self</option>
                                {{#each ../data.containers}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </td>
                    </div>
                </tr>
                {{/if}}
            {{/each}}
            {{/if}}
            {{#each data.containers}}
                {{#if this.system.toberendered}}
                <tr class="inventory-container-card" data-container-id="{{this.id}}">
                    <td colspan="1"><p>{{this.name}}</p></td>
                    <td colspan="4">
                        <div class = "flexrow">
                            <p>{{localize "wfrp2e.items.container.carrying"}}</p>
                            {{this.system.capacity.current}}
                            <p>{{localize "wfrp2e.items.container.of"}}</p>
                            {{this.system.capacity.max}}
                            <p>{{localize "wfrp2e.items.container.multiplied"}}</p>
                            {{this.system.capacity.weightmult}}
                            <p>{{localize "wfrp2e.items.container.downTo"}}</p>
                            {{this.system.capacity.total}}
                        </div>
                    </td>
                    <td colspan="1"><div class = "flexrow"><p>Carried?</p><input class="inventory-container-carried" data-containerid="{{this.id}}" name="this.system.carried" type="checkbox" {{checked this.system.carried}}/></div></td>
                </tr>
                {{#each ../data.allPhysicalItems}}
                    {{#if this.system.toberendered}}
                    {{#if (containedHere this.system.heldIn ../id)}}
                    <tr class="inventory-item-card" data-item-id="{{this.id}}">
                        <div class = "flexrow" width = "100%">
                            {{> "systems/wfrp2e/templates/actors/parts/actor-inventory-itemrow.html" this}}
                            <td>
                                <select class = "select-item-container" name="this.system.heldIn" data-item = "{{this.id}}">
                                    {{#select this.system.heldIn}}
                                    <option value="-1">Self</option>
                                    {{#each ../../data.containers}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </div>
                    </tr>
                    {{/if}}
                    {{/if}}
                {{/each}}
                {{/if}}
            {{/each}}
        </table>
    </div> 
</div>