<div class = "wfrp2e secondary-stat-block">
    <header class = "mainheader">
        <h1>{{localize "wfrp2e.characters.ui.secondaryProfileHeader"}}</h1>
    </header>
    <table>
        <!--Table headers-->
        <tr>
            <th width="20%">{{localize "wfrp2e.characters.ui.secondary"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.attacksAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.woundsAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.strBonusAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.touBonusAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.movementAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.magicAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.insanityAbr"}}</th>
            <th width="10%">{{localize "wfrp2e.attributes.fatePointsAbr"}}</th>
        </tr>
        <!--Starting stats-->  
        <tr class = "statrow  startingrow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.starting"}}</th>
            <td><input name = "data.profile.secondary.atk.base" type = "text" value = "{{data.profile.secondary.atk.base}}" data-type = "Number" placeholder="1"/></td>
            <td><input name = "data.profile.secondary.wou.base" type = "text" value = "{{data.profile.secondary.wou.base}}" data-type = "Number" placeholder="12"/></td>
            <td>{{data.profile.secondary.sb.base}}</td>
            <td>{{data.profile.secondary.tb.base}}</td>
            <td><input name = "data.profile.secondary.mov.base" type = "text" value = "{{data.profile.secondary.mov.base}}" data-type = "Number" placeholder="4"/></td>
            <td><input name = "data.profile.secondary.mag.base" type = "text" value = "{{data.profile.secondary.mag.base}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.ip.base" type = "text" value = "{{data.profile.secondary.ip.base}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.fp.base" type = "text" value = "{{data.profile.secondary.fp.base}}" data-type = "Number" placeholder="0"/></td>
        </tr>
        <!--Talent modifiers-->
        <tr class = "statrow talentrow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.talents"}}</th>
            <td><input name = "data.profile.secondary.atk.talent" type = "text" value = "{{data.profile.secondary.atk.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.wou.talent" type = "text" value = "{{data.profile.secondary.wou.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.sb.talent" type = "text" value = "{{data.profile.secondary.sb.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.tb.talent" type = "text" value = "{{data.profile.secondary.tb.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.mov.talent" type = "text" value = "{{data.profile.secondary.mov.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.mag.talent" type = "text" value = "{{data.profile.secondary.mag.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.ip.talent" type = "text" value = "{{data.profile.secondary.ip.talent}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.fp.talent" type = "text" value = "{{data.profile.secondary.fp.talent}}" data-type = "Number" placeholder="0"/></td>
        </tr>
        <!--Other modifiers-->
        <tr class = "statrow modifierrow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.modifier"}}</th>
            <td><input name = "data.profile.secondary.atk.mod" type = "text" value = "{{data.profile.secondary.atk.mod}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.wou.mod" type = "text" value = "{{data.profile.secondary.wou.mod}}" data-type = "Number" placeholder="0"/></td>
            <td><p>-</p></td>
            <td><p>-</p></td>
            <td><input name = "data.profile.secondary.mov.mod" type = "text" value = "{{data.profile.secondary.mov.mod}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.mag.mod" type = "text" value = "{{data.profile.secondary.mag.mod}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.ip.mod" type = "text" value = "{{data.profile.secondary.ip.mod}}" data-type = "Number" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.fp.mod" type = "text" value = "{{data.profile.secondary.fp.mod}}" data-type = "Number" placeholder="0"/></td>
        </tr>
        <!--Maximum advances-->
        <tr class = "statrow careerrow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.career"}}</th>
            <td>0</td>
            <td>0</td>
            <td>-</td>
            <td>-</td>
            <td>0</td>
            <td>0</td>
            <td>-</td>
            <td>0</td>
        </tr>
        <!--Invested advances-->
        <tr class = "statrow advancerow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.advance"}}</th>
            <td><input name = "data.profile.secondary.atk.advance" type = "text" value = "{{data.profile.secondary.atk.advance}}" data-type = "Number" step="1" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.wou.advance" type = "text" value = "{{data.profile.secondary.wou.advance}}" data-type = "Number" step="1" placeholder="0"/></td>
            <td><p>-</p></td>
            <td><p>-</p></td>
            <td><input name = "data.profile.secondary.mov.advance" type = "text" value = "{{data.profile.secondary.mov.advance}}" data-type = "Number" step="1" placeholder="0"/></td>
            <td><input name = "data.profile.secondary.mag.advance" type = "text" value = "{{data.profile.secondary.mag.advance}}" data-type = "Number" step="1" placeholder="0"/></td>
            <td><p>-</p></td>
            <td><input name = "data.profile.secondary.fp.advance" type = "text" value = "{{data.profile.secondary.fp.advance}}" data-type = "Number" step="1" placeholder="0"/></td>
        </tr>
        <!--Total value-->
        <tr class = "statrow totalrow">
            <th class = "columnheader">{{localize "wfrp2e.characters.ui.total"}}</th>
            <td>{{data.profile.secondary.atk.value}}</td>
            <td>{{data.profile.secondary.wou.value}}</td>
            <td>{{data.profile.secondary.sb.value}}</td>
            <td>{{data.profile.secondary.tb.value}}</td>
            <td>{{data.profile.secondary.mov.value}}</td>
            <td>{{data.profile.secondary.mag.value}}</td>
            <td>{{data.profile.secondary.ip.value}}</td>
            <td>{{data.profile.secondary.fp.value}}</td>
        </tr>
    </table>
</div>