<div class = "flexcol">
    <header class = "smallerfont">
        <h1>
            <div class ="flexrow flexshrink">
                <div>{{localize "wfrp2e.characters.ui.skillList"}}</div>
                <a class = "flexrow flexshrink item-create" data-type = "skill" title = '{{localize "wfrp2e.characters.ui.createNewSkill"}}'>
                    <i class = "fas fa-plus"></i>
                </a>  
            </div>          
        </h1>
    </header>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.basicSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.basicSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table>
        </div> 
    </div>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.advancedSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.advancedSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table> 
        </div> 
    </div>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.knowledgeSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.knowledgeSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table>
        </div> 
    </div>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.languageSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.languageSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table>
        </div> 
    </div>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.tradeSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.tradeSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table>
        </div> 
    </div>
    <div>
        <b><p class = "skill-category">{{localize "wfrp2e.characters.ui.otherSkills"}}</p></b>
        <div>
            <table>
                <tr>
                    <th class="name-column"  width="40%">{{localize "wfrp2e.characters.ui.skillName"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillAttribute"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillBase"}}</th>
                    <th class="field-column" width="20%">{{localize "wfrp2e.characters.ui.skillTraining"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillModifier"}}</th>
                    <th class="field-column" width="10%">{{localize "wfrp2e.characters.ui.skillTotal"}}</th>
                </tr>
                {{#each data.otherSkills as |skill id|}}
                <tr class="skill-card" data-item-id="{{skill.id}}">
                {{> "systems/wfrp2e/templates/actors/parts/actor-skillrow.html" skill}}
                </tr>
                {{/each}}
            </table>
        </div> 
    </div>  
</div>